*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainTitle{
    color: red;
}

.mainBox{
    background-color: cyan;
}

.cartContainer{
    display: flex;
}

.prodContainer img{
    max-width: 20vw;
}